{% extends 'base.html' %} 
{% block content %}


    <!--Background video for Home section-->
    <div id="Home">
      <video autoplay muted loop id="Typing_Video">
        <source
          src="/static/images/video/pexels-tima-miroshnichenko-5377684 (2160p).mp4"
          type="video/mp4" />
        <!--Display message if video falls to run-->
        Your browser does no support HTML5 video.
      </video>
    </div>

    <div class="container my-5">
      <div
        class="position-relative p-5 text-center text-light border border-dashed rounded-5 bg-transparent">
        <h1 class="white-text">Brandon's portfolio</h1>
        <strong>
          <p class="center">
            <q
              >When I wrote this code, only God and I understood what I did. Now
              only God knows.</q
            >
            <br />
            – Anonymous
            <br />
            <br />
            My name is Brandon Johnson. Welcome to my portfolio website. On it,
            I'll unfold the story of my background and expertise.
            <br /><br />Thanks for dropping in
          </p>
        </strong>
      </div>
    </div>

    <!-- Slideshow Section -->

    <div id="Slideshow_Container" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/images/LinkedIn.jpg" class="Slideshow_Images active" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>I'm available to assist you on your project!</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/html_JS_css_logo.png" class="Slideshow_Images" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>I am an aspiring full-stack software developer,<br />
              So far trained in:<br />HTML, CSS, JavaScript,</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/python_logo.png" class="Slideshow_Images" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>I'm currently honing my skills in Python,</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/django.png" class="Slideshow_Images" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>Tkinter, Sqlite3, Django</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/SQL-Orange-1.png" class="Slideshow_Images" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>back end development, databases and SQL.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/ContactUsHeader.jpg" class="Slideshow_Images" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p>Contact me now!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" type="button" data-bs-target="#Slideshow_Container" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" type="button" data-bs-target="#Slideshow_Container" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    
    <div>
      <!-- Previous and next buttons -->
      <a class="Previous" onclick="plusSlides(-1)">&#10094;</a>
      <a class="Next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br />
    <!-- Adds a space between the slideshow images and the dots -->

    <!-- Slideshow dots -->
    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span
      ><span class="dot" onclick="currentSlide(2)"></span
      ><span class="dot" onclick="currentSlide(3)"></span
      ><span class="dot" onclick="currentSlide(4)"></span
      ><span class="dot" onclick="currentSlide(5)"></span
      ><span class="dot" onclick="currentSlide(6)"></span>
    </div>
  </div>
  <!-- /Slideshow -->

    <!--About Section-->
    <div class="Row" id="About">
      <!--Left Column-->
      <div class="Column_2">
        <img src="/static/images/About_pic.jpg" alt="Picture of Brandon" />
      </div>
      <!--Right Column-->
      <div class="Column_1">
        <h1>About</h1>
        <p>
          I am a software developer who loves to code! I also love to chef
          something up in the kitchen as food is the key to my heart and the
          whole to my wallet lol. <br /><br />
          I am a graduate of
          <a href="https://www.learncodinganywhere.com" target="_blank"
            >The Tech Academy</a
          >'s Software Developer Boot Camp, and trained and experienced in the
          following web and programming languages: HTML, CSS, Javascript, SQL,
          C# and more. <br /><br />I am a full-stack developer and would love to
          work with you on your project. <a href="#Contact">Contact</a> me
          below!
        </p>
      </div>
    </div>
    <!--End About Section-->

    <!--GitHub Section-->
    <div class="Row" id="GitHub">
      <!--Left Column-->
      <div class="Column_1">
        <h1>GitHub</h1>
        <p>You can view my coding projects on my GitHub profile here: <br /></p>
        <p class="center">
          <a href="https://github.com/bjohn20/" target="_blank"
            >Brandon's GitHub</a
          >
        </p>
      </div>
      <!--Right Column -->
      <div class="Column_2">
        <a href="https://github.com/bjohn20/" target="_blank"
          ><img src="/static/images/github-logo.jpeg" alt="GitHub"
        /></a>
      </div>
    </div>
    <!--End GitHub Section-->

    <!-- Contact form -->
    <div id="Contact">
      <button onclick="openForm()" class="Pop_Up_Button">CONTACT</button>
      <div class="form-popup" id="myForm">
        <form
          action="https://formspree.io/f/mnqkrnyk"
          method="POST"
          class="form-container">
          <!-- Here we are using a free online service from https://formspree.io/ to send our contact form to an email address of our choosing - note: it will not run unless live on the internet, you have to push it to your online website first -->
          <h1>Contact</h1>
          <label for="name"><b>Name</b></label>
          <input
            type="text"
            placeholder="Type your name here"
            name="name"
            required />
          <label for="phone"><b>Phone</b></label>
          <input
            type="text"
            placeholder="Type your phone number here"
            name="phone" />
          <label for="email"><b>Email</b></label>
          <input
            type="text"
            placeholder="Type your email address here"
            name="email"
            required />
          <label for="message"><b>Message</b></label>
          <input
            type="text"
            placeholder="Type your message here"
            name="message" />

          <button type="submit" class="btn">SUBMIT</button>
          <button type="button" class="btn cancel" onclick="closeForm()">
            CLOSE
          </button>
        </form>
      </div>
    </div> -->

    <!--Footer Section-->
    <footer>
      <p class="center">
        <a href="https://github.com/bjohn20/" target="_blank"
          >Brandon's Github</a
        >
        <a
          href="https://www.linkedin.com/in/brandon-johnson-slytherintech/"
          target="_blank"
          >Brandon Johnson's Resume</a
        >
        |
        <a
          href="https://docs.google.com/document/d/17amtNLHkITd73HbuDET6KY_ybLqd4Hk3ymFzwj9GSnY/edit?usp=sharing"
          target="_blank"
          >Brandon Johnson's LinkedIn</a
        >
      </p>
      <br />
    </footer>
    <!--End Footer Section-->

{% endblock %}
